<h1>Editing phenotype</h1>

<%= render "form", phenotype: @phenotype %>

<br>

<div>
  <%= link_to "Show this phenotype", @phenotype %> |
  <%= link_to "Back to phenotypes", phenotypes_path %>
</div>
